<% content_for :head do %>
  <title><%= title %> - monolist</title>
  <style>
      .item-box{width: 590px!important;height:280px!important;margin:5px!important;background-color: #FFFFFF!important;counter-increment: rank;
          float: left;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);position: relative;
      }
      .image{position: absolute!important;top: 5px!important;left: 30px!important;width: 270px;height: 270px;
          display: table;border: 1px solid #ddd;background: #fff;border-top-right-radius: 3px;border-top-left-radius: 3px;
      }
      .detail{position: absolute!important;top: 150px!important;left: 310px!important;font-size: 20px!important;height: 80px!important;margin-right: 10px!important;
            padding: 10px;border: 1px solid #ddd;border-top: 0;background: #fafafa;
      }
      .action{position: absolute!important;top: 240px!important;left: 310px!important;display: block!important;}
      .item-box:before{content: "第" counter(rank) "位";font-weight: bold;font-size: 4em;line-height: 4em;margin-left: 310px;}
  </style>
<% end %>